@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-primary: 'Noto Sans KR', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-third: 'Roboto Mono', monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  font-family: 'Noto Sans KR', Inter, 'Roboto Mono', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
